body {
  padding: 0 10px 0 10px;
  /* Adjust sitewide (#5A5A5A) text color */
  color: #5A5A5A;
  /* Adjust sitewide (1.6em) text size */
  font-size: 1.8em;
  /* Adjust sitewide (Open Sans) font family */
  font-family: Open Sans;
  /* Adjust sitewide text alignment */
  text-align: left;
  /* left|right|center|justify */ }

nav {
  font-size: 1em; }

#content-wrapper {
  padding: 0 10px 0 10px; }
